body {
  /* default fonts, size, line spacing and text color for whole site. */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #777777;
  /* header right at top of page */
  margin-top: 0;
  background: url("../images/aqua_marble_seamless.jpg");  /* background for the whole page */
}

* {
  box-sizing: border-box;  /* includes border & margin in item's width */
}

/* general */

.container {
  width: 100%;  /* use all 960px */
  max-width: 960px;  /* main content block never gets bigger than this */
  margin: 0 auto;  /* no top margin */
  clear: both;   /* clear any extraneous floats */
}

h1, h2, p, #sub-header {
  margin-bottom: 20px;  /* default spacing after each header and paragraph */
}


h1, h2 {
  /* default text attributes for headers */
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  color: #2220b4;
}

h1 {
  /* make more space after primary headers; bigger font & more space between lines */
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  /* light border after primary header */
  border-bottom: 3px solid #dddddd;
}

#sub-header {
  border-bottom: 3px solid #dddddd;
  padding-bottom: 20px;
}

/* font sizes for secondary headers */
h2 {
  font-size: 22px;
}

/* header */

.myHeader {
    z-index: 99;   /* make sure it gets displayed on top of anything else */
    width: 100%;   /* full page */
    max-width: 960px;  /* max size for content width; rest of page gets background image */
    margin: auto;   /* to center */
    overflow: auto;  
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;  /* draws a line under the header */
 }


.myName {
  float: left;  /* left justified */
  width: 320px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;  /* bold */
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #2220b4;
}

nav {
  margin-top: 25px;
  float: right;     /* stack nav items on the right */
  padding-right: 10px;
}

nav a {
  display: inline-block;  /* in the same line */
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;  /* no underline for the links */
  border-left: 1px solid darkgrey;  /* for vertical bar between links */
}

nav a:first-child {
  border-left: 0 none;  /* special formatting for the first link */
}

/* footer */

footer {
  padding: 12px 0 35px;
  width: 100%;
  margin: auto;
  clear: both;
  font-size: 12px;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 3px solid #2220b4;
  height: 4px;
  position: fixed;  /* these lines give it a sticky footer */
  bottom: 0;        /* these lines give it a sticky footer */
  left: 0;          /* these lines give it a sticky footer */
}

h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;   /* shorter line under secondary headers */
}

/* main */


.main-section {
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 20px 0 70px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

/* about me page */
.auth-image {
  float: left;   /* to get the text to wrap around the picture */
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  list-style-position: inside;   /* so text doesn't wrap under preceding bullet */
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
  list-style-type: none;  /* no bullets for the items to enter */
  margin-left: -40px;    /* line up with visual page margin on screen */
}

#contact-form li {
  margin-bottom: 10px;
}

/* format input boxes and text displayed in them */
label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #2220b4;
  border: 0 none;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}


/* format for super large screens */

@media screen and (min-width:1200px) {

  #myHeader {
    max-width: 960px;  /* will have larger side margins */
    margin: auto;
  }

  header {
    max-width: 960px;
  }

}

/* desktop screens didn't need special formatting */

/* format for tablets screens */

@media screen and (max-width:768px) {

  .main-section {
    float: left;
    padding: 2% 2% 30px 2%;
  }

  .main-section p:last-child {  /* different bottom margin for last paragraph */
    margin-bottom: auto;
  }
} /* end of max width 768 */


/* formatting for phones */
@media screen and (max-width:640px) {
    
  body {
    margin: 0;
    clear: both;
  }
  
  header {     /* sticky header for phones */
    position: fixed;
    top: 0;      
  }

  h1 {
    padding: 0 0 1% 0;
  }

  .myName {    /* name fills width of screen */
    width: 100%;
  }
    
  nav {  /* nav items under name, centered, rather than to the right */
    float: none;
    margin: 3%;
    text-align: center;
  }

  nav a {
    padding: 0 7px;
    margin: 15px 0 0 0;
    border: 0;
  }

  .main-section {
    max-width: 95%;
    margin: 180px auto 20%;  /* this allows the secondary heading to show under the sticky header */
    float: none;
  }

  .auth-image {   /* picture fills width of screen, paragraph follows, rather than wrapping around */
    width: 100%;
    margin-bottom: 20px;
  }

} /* end of max width 640 */